<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <description/>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>uit.pubguru.controller.FeedBackController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>AuthorEditController</servlet-name>
        <servlet-class>uit.pubguru.controller.AuthorEditController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>uit.pubguru.controller.AuthorController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>UserController</servlet-name>
        <servlet-class>uit.pubguru.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <servlet-name>CaptchaController</servlet-name>
        <servlet-class>uit.pubguru.controller.CaptchaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorEditController</servlet-name>
        <url-pattern>/AuthorEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/AuthorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaController</servlet-name>
        <url-pattern>/CaptchaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>authorlist.jsp</welcome-file>
    </welcome-file-list>
</web-app>
